

h3{
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    text-decoration-line: underline;
}

.right{
   float:right;
    
    
}

.titleheader{
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    /* border-bottom: 10px solid; */
}

.text-container{
    width:1650px;
    /* height:2000px; */
  padding: 10px;
  background-color: gainsboro;
    box-shadow:inset 0 0 490px black;
    border-top: solid black 5px;
    margin-left: 100px;
  
}
/* make text container smaller ( original width: 1700px) and adjust page based off of that */

.opener{
    text-align: left;
    text-wrap: wrap;
    width: 50%;
    display:inline-block;
    
}



.details{
    text-wrap: wrap;
    height:300px;
    width:700px;
    margin-top: 20px;
}
.stuff{
    float: right;
    height: 50%;
    
}


.other{
    width:400px;
    height:300px;

    display: inline-block;


   
}
.another{
    width:75%;
    height:300px;
    
}


.hello{
    height: 300px;
    width: 400px;
   
    
}

.stuff-four{
    display:inline;
    

    
}
.words{
   
    text-wrap: wrap;
    width:40%;
    text-align: center;
    position: absolute;
    left:550px;
    top: 1100px;
   
}
.goodbye{
    height: 300px;
    width: 400px;
    float: right;
}

.other-words{
    
    text-wrap:wrap;
    padding-left:70px;
    
}

.stuffy{
    margin-top: 50px;
    border-bottom: 10px solid;
    
}
h4{
    float:right;
    text-decoration-line: overline;
}
h2{
    text-align: center;
    font-size: xx-large;
}

